body {
  background-image: url("../img/gradient_squares.png");
  background-size: auto;
  background-repeat: repeat;
}

td, th {
  padding: 5px;
  font-size: 16px;
}

input[type="checkbox"]{
  margin-right: 10px;
}

.btn-primary{
  margin-left: 15px;
}

.btn-danger{
  margin-left: 10px;
  float: right;
}

.boxList {
  background-color: white;
  padding: 56px;
  border-radius: 18px;
  margin-top: 8%;
  box-shadow: 1px 1px 15px #e4e3e9;
}

.done{
  text-decoration: line-through;
}

.container-fluid{
  margin-top: 20px;
  sty
}

.form-group {
  width: 100%;
  display: inline-flex !important;
}

.form-control {
  width: 100% !important;
}

.todoTable {
  width:100%;
}

.header {
  color: #2196f3;
  padding-top: 1em;
  font-size: 1.5em;
}

